#page-auth {
    display:flex;
    align-items: stretch;
    height: 100%;
}

aside {

    color: #fff;
    background-color:white;

    display:flex;
    flex-direction: column;
    align-items: center;

    > p {
        text-decoration: line-through;
    }
    
}
strong {
    font: 700 30px 'Poppins', sans-serif;
    line-height: 42px;
    
    color: #d8a6dd;
}
p {
    font-size: 24px;
    margin-top: 10px;
    color:  #d8a6dd;
    
}



main {
    flex:8;
    padding:0 32px;
    background-color: rgb(169, 222, 243);
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;
    
    >h1 {
        font: 700 75px 'Ephesis', sans-serif;
        margin-bottom: 20px;
        color:#d8a6dd ;
    }
    h2 {
        font-size: 23px;
        font-family: 'Poppins', sans-serif;
        margin: 30px 0 20px;
        color:#272525;
    }

    >p {
        font: 510 15px 'Poppins', sans-serif;
        color:#e196e7;
        margin-top: 25px;
        
        a{
            color:#e559f9;
            &:hover{
                color: rgb(47, 47, 151);
            }
        }
    }


    form {
        input{
            height: 50px;
            border-radius:8px ;
            padding: 0 16px;
            background-color: #fff;
            border: 1px solid #a8a8b3;
            width: 100%;
            margin: 5px 0;
        }
        button {
            margin-top: 16px;
            width: 100%;
        }
        
    }
    .separator {
        font-size: 14px;
        color:#a8a8b3;
        margin: 32px 0;
        display: flex;
        align-items: center;

        &::before {
            content: '';
            flex: 1;
            height: 1px;
            background: #a8a8b3;
            margin-right: 16px;
        }

        &::after{
            content: '';
            flex: 1;
            height: 1px;
            background: #a8a8b3;
            margin-left: 16px;
        }
    }


}
.create-room{
    margin-top: 20px;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background-color: #e7dbe9;
    color: #272727;

    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    border: 0;

    &:hover {
        filter: brightness(0.9);
    }
}
